#getstarted-wrapper {
    color:lightslategray;
    .container {
        padding: 30px 75px 75px 75px;
    }
    h2 {
        font-weight: bold;
    }
    strong {
        color: #000;
        font-style: italic;
    }
    button {
        font-size: 24px;
        text-transform: uppercase;
    }
}