#jobopenings-wrapper {
    .container {
        padding: 10px 75px 75px 75px;
    }
    #positions-title {
        text-decoration: underline;
    }
    .all-positions {
        color: lightslategray;
    }
}