$main-green: #38A441;
$main-orange: #FF860E;
$button-green: #7FB838;



@import './about';
@import './benefits';
@import './contact';
@import './financingoptions';
@import './footer';
@import './getstarted';
@import './home';
@import './itstherighttime';
@import './jobopenings';
@import './navbar';
@import './ourteam';
@import './productinnovation';
@import './sidebar';
@import './taxincentives';
@import './whatsnew';
@import './whysolar';